
{% style %}

.titre
{
	color:red;
}

{% endstyle %}

<H1 class = "titre">HELLO WORLD</H1>


{%section "featured-collection"%}

{% schema %}
{
  "name": "test",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "test",
      "category": "test"
    }
  ]
}
{% endschema %}
