
<main>
  <h1>{{section.settings.heading}}</h1>
  <div class="diapo">
      <div class="elements">
        {% assign premier = true %}
        {%for block in section.blocks %}
        		{% if premier == true%}
                  <div class="element active">

                          <img class="imageHomePage" srcset ="{{block.settings.image | img_url:'master'}}"/>

                      <div class="caption">
                        <h2>Image</h2>

                      </div>
                    </div>
            		{% assign premier = false %}
            	{% elsif premier == false%}
                    <div class="element">

                            <img class="imageHomePage" srcset ="{{block.settings.image | img_url:'master'}}"/>

                        <div class="caption">
                          <h2>Image</h2>

                        </div>
                      </div>
            	{% endif %}
          
        {%endfor%}
       </div>
    <i id="nav-gauche" class="las la-chevron-left">←</i>	
    <i id="nav-droite" class="las la-chevron-right">→</i>
  </div>
</main>
{% schema %}
  {
    "name": "Full-banner",
    "settings": [
					{
						"type":"text",
						"label":"titre",
						"id":"heading"
					}

				],
	"blocks" : [
				{
					"type":"image",
					"name":"image block",
					"settings":[
								{
									"type":"image_picker",
									"label":"Les images",
									"id" : "image"
								}
								]
				}
	],
    "presets": [
                    {
                      "name": "Full-banner",
                      "category": "banner"
                    }
	
    ]
  }
{% endschema %}

{% stylesheet %}



body{
	margin:0;
}

main{
	width:80%;
	margin:auto;
}

.diapo{
	position: relative;
	overflow: hidden;
}

#nav-droite,#nav-gauche{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 3em;
}

#nav-droite{
	right: 20px;
}

#nav-gauche{
	left: 20px;
}


.elements{
	display: flex;
}

.element{
	flex:1 0 100%;
	position: relative;
}

.element > img{
	width: 100%
}

.imageHomePage{
	
	
	width:100%;
	min-width:800px;
}

.caption{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align:center;
	background-color: rgba(255,255,255,0.4);
	padding: 30px;
}

{% endstylesheet %}

{% javascript %}

	//variables

	let compteur = 0
	let timer, elements, slides, slideWidth

	window.onload = () => {
	
	const diapo = document.querySelector(".diapo")
	elements = document.querySelector(".elements");
	slides = Array.from(elements.children)
	
	//largeur du diapo
	slideWidth = diapo.getBoundingClientRect().width
	
	let next = document.querySelector("#nav-droite")
	
	next.addEventListener("click",slideNext)
	}


  function slideNext(){
	  console.log("test")
      compteur++
      if(compteur == 5){
         compteur = 0
      }
      let decal = -slideWidth * compteur
	  elements.style.transform = `translateX(${decal}px)`
  }


{% endjavascript %}
