<h1>{{section.settings.heading}}</h1>
<img class="imageHomePage" srcset ="{{section.settings.image | img_url}}">

{% schema %}
  {
    "name": "Full-banner",
    "settings": [
					{
						"type":"text",
						"label":"titre",
						"id":"heading"
					},
					{
						"type":"image_picker",
						"label":"Image",
						"id":"image"
					}
				],
    "presets": [
                    {
                      "name": "Full-banner",
                      "category": "banner"
                    }
    ]
  }
{% endschema %}

{% stylesheet %}
.imageHomePage{
	width:100%;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
