<h1>{{section.settings.heading}}</h1>

  <div class="element">
    {%for block in section.blocks %}
      <div class="element active">
            <img class="imageHomePage" srcset ="{{block.settings.image | img_url:'master'}}"/>

        <div class="caption">
          <h2>Image</h2>

        </div>
      </div>
    {%endfor%}
   </div>
<i id="nav-gauche" class="las la-chevron-left"></i>	
<i id="nav-right" class="las la-chevron-right"></i>
{% schema %}
  {
    "name": "Full-banner",
    "settings": [
					{
						"type":"text",
						"label":"titre",
						"id":"heading"
					}

				],
	"blocks" : [
				{
					"type":"image",
					"name":"image block",
					"settings":[
								{
									"type":"image_picker",
									"label":"Les images",
									"id" : "image"
								}
								]
				}
	],
    "presets": [
                    {
                      "name": "Full-banner",
                      "category": "banner"
                    }
	
    ]
  }
{% endschema %}

{% stylesheet %}

.imageHomePage{
	
	
	width:100%;
	min-width:800px;
}

{% endstylesheet %}

{% javascript %}

	//var time = 3;
	//var image = document.getElementsByClassName('imageHomePage');

{% endjavascript %}
