
<main>
  <h1>{{section.settings.heading}}</h1>
  <div class="diapo">
      <div class="elements">
        {% assign premier = true %}
        {%for block in section.blocks %}
        		{% if premier == true%}
                  <div class="element active">

                          <img class="imageHomePage" srcset ="{{block.settings.image | img_url:'master'}}"/>

                      <div class="caption">
                        <h2>Image</h2>

                      </div>
                    </div>
            		{% assign premier = false %}
            	{% elsif premier == false%}
                    <div class="element">

                            <img class="imageHomePage" srcset ="{{block.settings.image | img_url:'master'}}"/>

                        <div class="caption">
                          <h2>Image</h2>

                        </div>
                      </div>
            	{% endif %}
          
        {%endfor%}
       </div>
    <i id="nav-gauche" class="las la-chevron-left">◘</i>	
    <i id="nav-droite" class="las la-chevron-right">></i>
  </div>
</main>
{% schema %}
  {
    "name": "Full-banner",
    "settings": [
					{
						"type":"text",
						"label":"titre",
						"id":"heading"
					}

				],
	"blocks" : [
				{
					"type":"image",
					"name":"image block",
					"settings":[
								{
									"type":"image_picker",
									"label":"Les images",
									"id" : "image"
								}
								]
				}
	],
    "presets": [
                    {
                      "name": "Full-banner",
                      "category": "banner"
                    }
	
    ]
  }
{% endschema %}

{% stylesheet %}



body{
	margin:0;
}

main{
	width:100%;
	margin:auto;
}

.diapo{
	position: relative;
	overflow: hidden;
}

#nav-droite,#nav-gauche{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 3em;
}

#nav-droite{
	right: 20px;
}

#nav-gauche{
	left: 20px;
}


.elements{
	display: flex;
}

.element{
	flex:1 0 100%;
}

.element > img{
	width: 100%
}

.imageHomePage{
	
	
	width:100%;
	min-width:800px;
}

{% endstylesheet %}

{% javascript %}

	//var time = 3;
	//var image = document.getElementsByClassName('imageHomePage');

{% endjavascript %}
