<h1>{{section.settings.heading}}</h1>
<img class="imageHomePage" srcset ="{{section.settings.image | img_url:'1080x'}}">

{% schema %}
  {
    "name": "Full-banner",
    "settings": [
					{
						"type":"text",
						"label":"titre",
						"id":"heading"
					},
					{
						"type":"image_picker",
						"label":"Image",
						"id":"image"
					}
				],
	"blocks" : [
				{
					"type":"image",
					"name":"image block",
					"settings":[
								{
									"type":"image_picker",
									"label":"Les images",
									"id" : "image"
								}
								]
				}
	],
    "presets": [
                    {
                      "name": "Full-banner",
                      "category": "banner"
                    }
	
    ]
  }
{% endschema %}

{% stylesheet %}

.imageHomePage{
	
	
	width:100%;
	min-width:800px;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
